*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;   
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid #fff;
    padding: 10px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 25px;
}
.nav2{
    font-size: 1rem;
    margin-left: 3px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #0f1111;
    width: 844.31px;
    height: 43px;
    border-radius: 4px;
    align-items: center;
}
.search-select{
    background-color: #f3f3f3;
    width: 51.6px;
    height: 43px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
}

.search-input{
    width: 740.71px;
    height: 40px;
    border: none;
}
.search-icon{
    width: 45px;
    height: 43px;
    background-color: #f08844;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    display: flex;
}
.nav-search:hover{
    border: 2px solid orange;
    padding: 5px;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}
.nav-signin:hover{
    border: 2px solid #fff;
    padding: 10px;
}
span{
    font-size: 0.7rem;
}
.nav-order{
    font-size: 1rem;
    font-weight: 700;
}
.nav-return:hover{
    border: 2px solid #fff;
    padding: 10px;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart:hover {
    border: 2px solid #fff;
    padding: 10px;
}
.nav-cart{
    font-size: 17px;
}
.nav-menu {
    height: 40px;
    background-color: #000a15;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #fff;
    align-items: center;
}
.panel-ops p{
    display: inline;
    margin-left: 16px;
    font-size: 15px;

}
.panel-ops p:hover{
    border: 2px solid #fff; 
    padding: 10px; 
}
.panel-all{
    margin: 10px;
    margin-left: 20px;
}
.panel-all:hover{
    border: 2px solid #fff;
    padding: 10px;
}
.panel-all i{
    font-size: 17px;
}
/**hero-section**/

.hero-sect{
    background-image: url(./hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #f5f6f6;
    height: 40px;
    color: #0f1111;
    font-size: 0.85rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 40px;

}
.hero-msg a{
    color: #007185;
}

/**box**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/**footer**/
.back-panel{
    height: 50px;
    background-color: #222f3d;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}
.panel2{
    margin: 1px;
    height: 400px;
    background-color: #222f3d;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.fot-panel p{
    margin: 15px;
    margin-top: 10px;
    font-size: 0.85rem;
}
.footer2{
    height: 90px;
    background-color: #222f3d;
    margin: 0.1px;
    display: flex;
    align-items: center;
}
.logo5{
    background-image: url(./amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    margin-left: 430px;
}
.language{
    color: #fff;
    display: inline-block;
    display: flex;
    margin-left: 200px;
    margin-top: 9px;
    align-items: center;
    font-size: 0.85rem;

}
.language i{
    margin: 10px;
}
.dollar{
    color: #fff;
    display: inline-block;
    display: flex;
    margin-left: 80px;
    margin-top: -1px;
    align-items: center;
    font-size: 0.85rem;
}
.dollar i{
    margin: 10px;
}
/**footer3**/
.footer3{
    height: 90px;
    background-color: #0f1111;
    color: #cccccc;
}
.page{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 30px;
}
.copyright{
    font-size: 0.9rem;
    text-align: center;
}
